@import 'vars';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

button {
  cursor: pointer;
  background-color: $white;
}