$white: #FFFFFF;
$black: #000000;
$cream: #FDFDFB;
$brown: #555248;
$superBrown: #1B1A17;
$lightBrown: #444240;
$beforeContent: #8B8371;
$borderColor: #EAE3D4;
$borderBg: #D4B098;
$catalogBg1: #F7F5EF;
$catalogBg2: #FDFDFB;


$breakpoints: (
        v-sm: 450px,
        sm: 650px,
        md: 850px,
        lg: 1135px
)